<% @movies.each do |movie| %>
  <tr>
    <td><%= movie.id %></td>
    <td><%= movie.name %></td>
    <td><%= movie.year %></td>
    <td><%= movie.is_showing %></td>
    <td><%= movie.created_at %></td>
    <td><%= movie.updated_at %></td>
  </tr>
<% end %>